* {
    font-family: monospace;
}
body#pagina-prin {
  background-image: linear-gradient(rgb(240, 193, 193), rgb(218, 67, 67));  
}
.table-contatos {
    background-color: white;
    text-align: left;
    width: 80%;
    margin: 8%;
    background-color: lightcoral;
    font-size: 20px;
}
img {
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.button {
    background-color: #eef1e9; /* Green */
    border: none;
    color: rgb(160, 118, 118);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #000000;
  }
.button:hover {
    background-color: yellow;
}
p {
    text-align: center;
      letter-spacing: 2px;
      font-size: 23px;
  }
a:hover {
    background-color: white;
  }
h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 3%;
    margin-bottom: 5%;
}
h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
h3 {
    text-align: center;
    font-size: 30px;
}
input {
    border: 2px solid red;
    border-radius: 4px; 
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
ol {
    list-style-type: upper-roman;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}
ul {
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
}
#pg-contato {
    background-image: repeating-linear-gradient(rgb(165, 192, 241),rgb(255, 96, 68));
}
form {
    text-align: center;
    font-size: 25px;
}
#voltar {
    margin: 0 auto;
    font-size: 40px;
}